html,
body {
  height: 100%;
  background-color: #e3eff3;
}
html #app,
body #app {
  height: 100%;
}
html .wrap,
body .wrap {
  padding-bottom: 53px;
}
li {
  list-style-type: none;
}
a {
  color: #5d5d5d;
}
.Bgblue {
  background-color: #1296db !important;
}
.pd15 {
  padding: 15px;
}
.colorfea06c {
  background-color: #fea06c !important;
}
.colorSfea06c {
  color: #fea06c !important;
}
.fillfff {
  fill: #fff !important;
}
.fontsize25 {
  font-size: 25px;
}
.colorSfff {
  color: #fff !important;
}
.colorrgba {
  background: rgba(0, 0, 0, 0.2) !important;
}
.colorfff {
  background-color: #fff !important;
}
.colorS000 {
  color: #000;
}
.fontsize14 {
  font-size: 14px !important;
}
.fontsize16 {
  font-size: 16px !important;
}
.fontsize15 {
  font-size: 15px !important;
}
.db {
  display: block;
}
.mt20 {
  margin-top: 20px;
}
.mr5 {
  margin-right: 5px;
}
.fl {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.float-c {
  position: relative;
  right: -36%;
}
