.lc-main .head {
  height: 200px;
  width: 100%;
  background-image: url("../../assets/images/register/personalheadBg1.jpg");
  position: relative;
  z-index: 1;
}
.lc-main .head .personGroup {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
.lc-main .head .personGroup .personGroup_img {
  margin-left: 15px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
}
.lc-main .head .personGroup .personGroup_name {
  margin-left: 15px;
  line-height: 60px;
  display: inline-block;
}
.lc-main .head .personGroup .personGroup_modify {
  float: right;
  line-height: 60px;
  text-align: center;
  margin-right: 10px;
}
.lc-main .head .personGroup .personGroup_modify .personGroup_modify_img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}
.lc-main .head .personRule {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}
.lc-main .head .personRule .personRule_L {
  float: left;
  margin-left: 15px;
}
.lc-main .head .personRule .personRule_C {
  position: absolute;
  right: 100px;
}
.lc-main .head .personRule .personRule_C .exchange_img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.lc-main .head .personRule .personRule_R {
  float: right;
  text-align: center;
  width: 80px;
}
.lc-main .head .personRule .personRule_R::before {
  content: " ";
  width: 1px;
  height: 30px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  top: 9px;
  right: 8px;
}
.lc-main {
  margin: 0 auto;
  max-width: 640px;
}
.lc-main .btn-min-w {
  min-width: 105px;
}
.lc-main input::-webkit-input-placeholder {
  color: #999;
}
.lc-main .vux-header .vux-header-left .vux-header-back {
  font-size: 16px;
  color: #fff;
}
.lc-main .vux-header .vux-header-left .left-arrow:before {
  border: 1px solid deepskyblue;
  border-width: 1px 0 0 1px;
}
.lc-main .weui-cells {
  margin-top: 0;
}
.lc-main .weui-cell__ft {
  color: #fff;
}
.lc-main .weui-grid {
  background-color: #fff !important;
  padding: 15px 0 0px !important;
  text-align: center;
}
.lc-main button.weui-btn,
.lc-main input.weui-btn {
  width: 50%;
}
.register .form,
.login .form {
  position: relative;
}
.register .authCode,
.login .authCode {
  position: absolute;
  right: 14px;
  bottom: 5px;
  width: 105px !important;
  display: inline-block;
}
.register .weui-input,
.login .weui-input,
.register .weui-label,
.login .weui-label,
.register .vux-cell-value,
.login .vux-cell-value,
.register .vux-popup-picker-placeholder,
.login .vux-popup-picker-placeholder {
  font-size: 15px;
}
.modifyInfor .weui-input,
.modifyInfor .weui-label,
.modifyInfor .vux-cell-value,
.modifyInfor .vux-popup-picker-placeholder {
  font-size: 15px;
}
.exchange-main .weui-cell {
  padding: 10px 5px;
}
.exchange-main .vux-label {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.exchange-main .weui-grids:before {
  display: none;
}
.x-dialog-transparent-mask .intRuleCont li {
  margin-top: 15px;
  font-size: 14px;
  text-align: left !important;
}
.x-dialog-transparent-mask .weui-mask {
  margin: 0 auto;
  max-width: 640px;
  background: rgba(0, 0, 0, 0.78);
}
.x-dialog-transparent-mask .weui-dialog {
  max-width: 540px;
  width: 86%;
  height: 80%;
  background: rgba(0, 0, 0, 0);
  overflow-y: auto;
  overflow-x: hidden;
}
.vux-header {
  border-bottom: 1px solid #c0c0c0;
}
.vux-header .vux-header-left .icon {
  width: 20px;
  height: 20px;
}
.vux-header .vux-header-left .title {
  position: relative;
  top: -4px;
  left: 10px;
  color: #333333;
  font-size: 16px;
}
.vux-header.bg-white {
  background-color: #ffffff;
}
.vux-header.trans-bottom-none {
  background: rgba(0, 0, 0, 0);
  border-bottom: none;
}
.vux-header.white-bottom-none {
  background-color: #ffffff;
  border-bottom: none;
}
.vux-header.bg-red {
  background-color: #de473e;
  border-bottom: none;
}
.vux-header.bg-red .vux-header-left .title {
  color: #ffffff;
}
.confirm-container .weui-dialog {
  width: 80%;
  max-width: 80%;
}
.confirm-container .weui-dialog .weui-dialog__bd {
  min-height: 10px;
  font-size: 16px;
}
.confirm-container .weui-dialog__ft .weui-dialog__btn_default {
  color: #b7b7b7;
}
.calendar-container {
  overflow-x: hidden;
}
.calendar-container .inline-calendar {
  padding: 0 5px;
  width: auto;
}
.calendar-container .inline-calendar .calendar-header .vux-prev-icon,
.calendar-container .inline-calendar .calendar-header .vux-next-icon {
  border: 1px solid #de473e;
  border-top: none;
  border-right: none;
}
.calendar-container .inline-calendar table tbody td {
  font-size: 14px;
  border: 1px solid #c0c0c0;
}
.calendar-container .inline-calendar table tbody td span.vux-calendar-each-date {
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.calendar-container .inline-calendar table .is-today {
  color: #de473e;
}
.calendar-container .inline-calendar table .custom-dot {
  text-align: center;
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: 2px;
  background-color: #f74c31;
  border-radius: 50%;
}
.calendar-container .inline-calendar table .custom-dot.one {
  background-color: #f74c31;
  left: 50%;
  margin-left: -1.5px;
}
.calendar-container .inline-calendar table .custom-dot.two {
  background-color: #04be02;
  left: 50%;
  margin-left: -1.5px;
}
.calendar-container .inline-calendar table .custom-dot.three {
  background-color: #ed9b0b;
  left: 50%;
  margin-left: -1.5px;
}
.calendar-container .inline-calendar table .custom-dot.offsetL35 {
  left: 35%;
  margin-left: 0;
}
.calendar-container .inline-calendar table .custom-dot.offsetR35 {
  right: 35%;
  margin-left: 0;
}
.calendar-container .inline-calendar table .label {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent #de473e;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}
.calendar-container .inline-calendar .calendar-custom-dot-wrapper {
  height: 3px;
  line-height: 3px;
  text-align: center;
  font-size: 0;
  margin-top: -2px;
}
.calendar-container .inline-calendar .calendar-custom-dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  line-height: 1;
  border-radius: 50%;
  margin: 0 8%;
  background-color: red;
}
.calendar-container .inline-calendar .calendar-custom-dot.dot1 {
  background-color: #f74c31;
}
.calendar-container .inline-calendar .calendar-custom-dot.dot2 {
  background-color: #04be02;
}
.calendar-container .inline-calendar .calendar-custom-dot.dot3 {
  background-color: #ed9b0b;
}
.regText-color {
  width: 160px;
  margin: 0 auto;
  margin-top: 30px;
  color: #1296db !important;
  text-align: center;
  margin-bottom: 20px;
}
.regText-color .line {
  width: 100%;
  height: 1px;
  background-color: #1296db;
}
.clearing-main .weui-label {
  font-size: 15px;
}
.clearing-main .weui-input {
  font-size: 15px;
  color: #858585;
}
.clearing-main .vux-no-group-title {
  margin-top: 0em !important;
}
.comment-list {
  margin-top: 10px;
}
.comment-list .comment-item {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
.comment-list .comment-item:last-child {
  border-bottom: 0px solid #ddd;
}
.comment-list .small-font {
  font-size: 14px;
  color: #858585;
}
.comment-list .comment-img {
  border-radius: 46px;
  overflow: hidden;
  width: 46px;
  height: 46px;
}
.comment-list .comment-img img {
  display: block;
}
.comment-list .comment-title {
  margin: 12px 0 0 10px;
}
.comment-list .comment-tit {
  width: 80%;
  margin-left: 4%;
  height: 46px;
  line-height: 46px;
}
.comment-list .comment-details {
  margin-left: 50px;
}
.comment-list .comment-details p {
  padding: 4px 0;
}
.comment-list .comment-details .details-icon {
  display: inline-block;
  height: 30%;
  width: 30%;
  margin-right: 5px;
}
.comment-list .comment-details .details-icon .icon-pre {
  display: inline-block;
  width: auto;
  height: 100px;
}
.comment-list .comment-details .details-icon2 {
  display: inline-block;
  height: 60%;
  width: 60%;
  margin-right: 5px;
}
.comment-list .comment-details .details-icon2 .icon-pre {
  display: inline-block;
  width: 150px;
  height: 150px;
}
.comment-list .comment-details .fa {
  color: #b01d23;
}
.comment-list .comment-details .thumb-num {
  margin-left: 5px;
}
.comment-list .comment-details .talk-box {
  width: 120px;
  position: relative;
}
.comment-list .comment-details .talk-box img {
  width: 100%;
}
.comment-list .comment-details .talk-box .talking {
  position: absolute;
  top: 23%;
  left: 11%;
}
.comment-list .comment-details .talk-box .talking .talk {
  animation: fadeIn 1s linear 0s infinite;
}
.comment-list .comment-details .talk-box .talking .talk1 {
  width: 4px;
  animation-delay: 0s;
}
.comment-list .comment-details .talk-box .talking .talk1 img {
  width: 100%;
}
.comment-list .comment-details .talk-box .talking .talk2 {
  width: 5px;
  margin-top: 2px;
  margin-left: 1px;
  animation-delay: 0.2s;
}
.comment-list .comment-details .talk-box .talking .talk2 img {
  width: 100%;
}
.comment-list .comment-details .talk-box .talking .talk3 {
  width: 7px;
  margin-top: -1px;
  animation-delay: 0.4s;
}
.comment-list .comment-details .talk-box .talking .talk3 img {
  width: 100%;
}
.comment-list .comment-details .comment-tip .thumb-box {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.comment-list .comment-details .comment-tip .thumb-box img {
  width: 100%;
  height: 100%;
}
.comment-list .comment-details .voice-time {
  line-height: 55px;
  margin-left: 12px;
}
.no_comment {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.main-details {
  padding-top: 46px;
}
.main-details .comment .comment-icon {
  display: inline-block;
  width: 22%;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.main-details .comment .comment-icon .icon-pre {
  display: inline-block;
  width: auto;
  height: 80px;
}
.main-details .comment .comment-icon .del-img {
  width: 25px;
  height: auto;
  z-index: 99999;
  margin-top: -95px;
  margin-left: -10px;
}
.main-details .comment .commentAres {
  border: none;
  height: 40px;
  line-height: 40px;
  width: 72%;
  padding-left: 2%;
  outline: none;
}
.main-details .comment .group-row {
  text-align: center;
}
.main-details .comment .group-row button {
  border: none;
  height: 40px;
  line-height: 40px;
  width: 50%;
  display: inline-block;
  outline: none;
  background-color: #e64340;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}
.main-details .comment .bor-bot {
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}
.main-details .comment .fontstyle {
  text-align: center;
  font-size: 20px;
  color: #e64340;
  font-weight: 600;
}
.main-details .comment .comment-area {
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.main-details .comment .comment-area textarea {
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  font-family: "microsoft yahei";
  font-size: 14px;
}
.main-details .comment .comment-area textarea::-webkit-input-placeholder {
  font-size: 14px;
}
.main-details .comment .comment-area .comment-tool {
  margin-top: 5px;
}
.main-details .comment .comment-area .comment-tool .tool-box {
  width: 70px;
  height: 70px;
  margin-right: 8px;
}
.main-details .comment .comment-area .comment-tool .tool-box:last-child {
  margin-right: 0;
}
.main-details .comment .comment-area .comment-tool .tool-box img {
  width: 100%;
}
.main-details .comment .comment-area .record {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.main-details .comment .comment-area .record img {
  width: 100%;
}
.main-details .comment .comment-area .record .recording {
  position: absolute;
  top: 30%;
  left: 60%;
}
.main-details .comment .comment-area .record .recording .line {
  margin-bottom: 3px;
  background: #e3e3e3;
  height: 3px;
}
.main-details .comment .comment-area .record .recording .animate {
  opacity: 0;
  animation: fadeIn 2s linear 0s infinite;
}
.main-details .comment .comment-area .record .recording .line1 {
  width: 16px;
  opacity: 0;
  animation-delay: 1s;
}
.main-details .comment .comment-area .record .recording .line2 {
  width: 14px;
  opacity: 0;
  animation-delay: 0.8s;
}
.main-details .comment .comment-area .record .recording .line3 {
  width: 12px;
  opacity: 0;
  animation-delay: 0.6s;
}
.main-details .comment .comment-area .record .recording .line4 {
  width: 10px;
  opacity: 0;
  animation-delay: 0.4s;
}
.main-details .comment .comment-area .record .recording .line5 {
  width: 8px;
  opacity: 0;
  animation-delay: 0.2s;
}
.main-details .comment .comment-area .record .recording .line6 {
  width: 6px;
  opacity: 0;
  animation-delay: 0s;
}
.main-details .image-text {
  padding: 10px 10px 30px 10px;
}
.main-details .image-text h2 {
  text-align: center;
  color: #e64340;
  margin-top: 10px;
}
.main-details .image-text .picture {
  width: 100%;
}
.main-details .image-text .picture p {
  background-color: #e3eff3 !important;
}
.main-details .image-text .picture p img {
  max-width: 100%;
}
.main-details .image-text .picture p video {
  max-width: 100%;
}
.main-details .score-padding {
  padding-bottom: 40px;
}
.main-details .score .score-tip {
  font-size: 14px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
.main-details .score .score-btn {
  background: none;
  outline: none;
  border: none;
  background-color: #e64340;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 12px;
}
.main-details .score .btn-hui {
  background-color: #d0cdc7;
}
.main-details .score .weui-cell {
  padding: 15px 0;
}
.main-details .score .weui-cell .weui-cell__ft {
  text-align: left;
  float: left;
}
.main-details .score .weui-cell .weui-cell__ft .vux-rater {
  margin-left: 15px;
}
.main-details .score .weui-cell .vux-cell-primary {
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  flex: initial;
  width: 30%;
  float: left;
}
.main-details .score .weui-cell .weui-cell__ft .vux-rater a {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}
.main-details .margin20 {
  margin-bottom: 20px;
}
.bg-color {
  padding: 3px 0;
  box-sizing: border-box;
  background-color: #e64340;
  height: 46px;
  line-height: 42px;
  width: 100%;
}
.bg-color .title {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  display: block;
  font-size: 16px;
}
.main-list .main-item .index-board-item-inner {
  padding: 10px;
  position: relative;
}
.main-list .main-item .index-board-item-inner .detalis {
  width: 66%;
  margin-left: 4%;
  font-size: 14px;
}
.main-list .main-item .index-board-item-inner .detalis .small-font {
  font-size: 12px;
}
.main-list .main-item .index-board-item-inner .vux-x-icon-ios-arrow-right {
  position: absolute;
  right: 2%;
  top: 46%;
}
.main-list .main-item .index-board-item-inner .vux-x-icon-ios-star {
  position: absolute;
  fill: #e64340;
  right: 2%;
}
.main-list .main-item .index-board-item-inner .vux-x-icon-ios-star-outline {
  position: absolute;
  fill: #e64340;
  right: 2%;
}
.main-list .main-item {
  border-bottom: 1px solid #ddd;
}
.main-list .main-item:last-child .index-board-item-inner {
  border-bottom: 1px solid #e3eff3 !important;
}
.main-list .no_more {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.swiper-list {
  margin: 90px 10px 10px 10px;
  padding-bottom: 53px;
}
.swiper-list .swiper-item {
  width: 45%;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px 0;
}
.swiper-list .swiper-item .index-board-item-inner .over-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 3px 0;
}
.swiper-list .swiper-item .index-board-item-inner .sb-ban {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.swiper-list .swiper-item .index-board-item-inner .sb-ban img {
  width: 100%;
  height: 100%;
}
.swiper-list .swiper-item .index-board-item-inner .detalis .fa {
  color: #b01d23;
}
.swiper-list .swiper-item .index-board-item-inner .detalis .small-font {
  font-size: 12px;
  margin-left: 5px;
}
.swiper-list .swiper-item:nth-child(2n) {
  float: right;
}
.no_data {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: -65px;
}
.xs-plugin-pullup-container {
  line-height: 40px;
}
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
.isHead1 {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
.container {
  max-width: 640px;
  margin: 0 auto;
  font-size: 14px;
  height: 100%;
}
.scroll {
  touch-action: auto;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: auto;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  top: 215px;
  z-index: 1;
  bottom: 53px;
}
.upScroll {
  touch-action: auto;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: auto;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 1;
  bottom: 53px;
}
